html,
body {
  height: 100%;
}

body {
  overflow-y: hidden;
  background: black;
  color: white;
  margin: 0;
  font-family: ubuntu;
}

main {
  /*scroll-snap-type: y mandatory;*/
  overflow-y: scroll;
  height: 100%;
}

.header-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header-bg img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.step {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  font-size: 3.5rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  margin: 0;
}

.header {
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.comming-soon {
  padding: 10px;
  margin-top: 10px;
  font-size: 1.3rem;
}

.header h1 {
  font-size: 6.5rem;
  margin-bottom: 10px;
  padding: 10px;
}

.header>img {
  width: 250px;
}

.section-one {
  min-height: 100vh;
  align-items: center;
  position: relative;
}

.section-one .section-one-item {
  display: flex;
  margin: 20px;
}

.section-one img {
  max-height: 140px;
  margin: 40px;
}

.section-one div {
  max-width: 700px;
  margin: 0;
  padding: 25px;
}

.section-one ul {
  list-style-type: none;
  padding-left: 0;
}

.section-one div li:not(:last-child) {
  margin-bottom: 20px;
}

.section-one div li strong {
  display: block;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 5px;
  text-align: center;
}

.section-one>*:nth-child(even) {
  flex-direction: row-reverse;
}

.section-one>*:nth-child(even) div {
  display: flex;
  flex-direction: column;
  align-items: end;
}


.section-footer {
  min-height: 100vh;
  align-items: center;
}

.external-link {
  border: solid 1px lightgrey;
  border-radius: 15px;
  padding: 25px;
  text-decoration: none;
  color: chartreuse;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  margin: 10px;
}

.external-link:hover {
  border: 1px solid chartreuse;
  scale: 1.05;
  transition: 0.3 ease-in-out linear;
}

.external-link img {
  height: 1.6rem;
  margin: 0 5px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button-container a:last-child {
  margin-bottom: 0px;
}

.section-two ul {
  list-style-type: none;
}

.section-two ul li {
  font-size: 1.5rem;
  text-decoration: underline;
  margin-bottom: 10px;
}

.email {
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  color: #000;
  max-width: 70%;
}

.email a {
  text-decoration: none;
  color: #000;
  font-size: 4rem;
}

@media only screen and (max-width: 900px) {

  .section-one-item {
    max-width: 100%;
  }

  .section-two {
    flex-direction: column;
  }

  .email a {
    font-size: 3rem;
  }

  .external-link {
    font-size: 1.4rem;
  }

}

@media only screen and (max-width: 700px) {
  .header h1 {
    font-size: 5rem;
  }

  .header {
    min-height: 100vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .section-title {
    font-size: 2.5rem;
  }



  .email a {
    font-size: 1.5rem;
  }

  .section-one-item {
    flex-direction: column;
    align-items: center;
  }

  .section-one>*:nth-child(even) {
    flex-direction: column;
  }

}

.section-two {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.section-two h2 {
  color: #ff9100;
  text-align: center;
}

.section-two h6 {
  margin: 15px;
  font-size: 0.9rem;
  max-width: 500px;
  text-align: center;
}

.section-two-benefits-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
}

.section-two-benefits {
  width: 300px;
  border: .5px solid lightslategrey;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 15px;
}

.section-two-benefits p {
  color: black;
  text-align: center;
}

.section-two-benefits h4 {
  color: black;
  font-size: 1.3rem;
  margin: 5px;
  margin-top: 20px;
}

.section-two-benefits img {
  width: 30%;
}

.section-two-benefits hr {
  width: 90%;
  border: 1px solid lightslategray;
  margin: 20px 0 0 0;
}